<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">
  
    <http auto-config="true">
        <intercept-url pattern="/menu" access="ROLE_ADMIN"/>
        
        <intercept-url pattern="/article" access="ROLE_ADMIN"/>
        <intercept-url pattern="/insertArticle" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteArticle" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateArticlePage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateArticle" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createArticlePage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/searchArticle" access="ROLE_ADMIN"/>
        
        <intercept-url pattern="/client" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createClient" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteClient" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateClientPage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateClient" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createClientPage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/searchClient" access="ROLE_ADMIN"/>
        
        <intercept-url pattern="/commande" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteCommande" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateCommandePage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateUneCommandePage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/updateCommande" access="ROLE_ADMIN"/>
        <intercept-url pattern="/searchCommande" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createCommandePage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createCommandeArticle" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteArticleCommande" access="ROLE_ADMIN"/>
        <intercept-url pattern="/deleteArticleCommandes" access="ROLE_ADMIN"/>
        <intercept-url pattern="/createUneCommande" access="ROLE_ADMIN"/>
        
        <intercept-url pattern="/stats" access="ROLE_ADMIN"/>
        
  		<intercept-url pattern="/*.action" access="ROLE_ADMIN"/>
  		
        <access-denied-handler error-page="/access" /> <!-- Page de redirection si on a pas l'autorisation -->
         
        <form-login
            login-page="/index"
            default-target-url="/menu"
            authentication-failure-url="/gg"
            username-parameter="username"
            password-parameter="password" /> <!-- Page de login / Redirection du boutton / Redirection mauvaise id / paramettre -->
        <logout logout-success-url="/index?logout" /> <!-- Page de redirection pour la déconnexion -->
         
    </http>
  
   <authentication-manager> 
      <authentication-provider> 
         <jdbc-user-service data-source-ref="dataSource" 

            users-by-username-query=" 
                select username,password, enabled   
               from users where username=?"  

            authorities-by-username-query=" 
               select u.username, ur.role from users u, user_roles ur  
         where u.user_id = ur.user_id and u.username =?  "  
         /> 
      </authentication-provider>
   </authentication-manager>
</beans:beans>