@CHARSET "ISO-8859-1";
html{
	font-family: 'Open Sans', sans-serif !important;
}

body{
	background: url(../css/img/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
  	display: flex;
}

table, tr, td{
	  border-collapse: collapse;
	  padding: 5px 10px 5px 10px;
	  text-align: center;
}

table{
	background-color: #F2F2F2;
}
.tous{
	width:auto; height:auto; float: none; 
	margin: auto;
	margin-top: 200px;
	background-color: white;
	display: flex;
	align-items: center;
  	flex-direction: column;
  	border-radius: 10px;
  	
}

.article{
	padding: 20px;
	 display: flex;
	align-items: center;
}

div.dd{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 40px;
	background-color: #51C859;
	display: flex;
	align-items: center;
}

.boutton{
	padding-left: 20px;
}

.text{
	color: white;
	background-color: #51C859;
	border: none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.text:hover{
	cursor:  pointer;
	background-color: #45E24F;
}

.entete{
	background-color: #51C859;
	border: none;
	font-weight: bold;
}

.lefttab{
		border-top-left-radius: 10px;
}

.righttab{
		border-top-right-radius: 10px;
}

.panelgauche{
	margin-top: -220px;
}

#insertArticle_Valider{
	  background: #51C859;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  border:none;
}

.search{
	width: 200px;
	height: 30px;
	background-color: #51C859;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
}

.searchc{
	display: flex;
}

.searchField{
	margin-top: 6px;
	margin-left: 15px;
	width: 120px;
	background-color: #5CFE3B;
	border: none;
}

.searchButon{
	border: none;
	margin-top: 6px;
	margin-left: 4px;
	width: 40px;
	background-image: url(../css/img/Search-32.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

.textAdd{
	display: flex;
	align-items: center;
	color: white;
	margin-left: 10px;
	text-decoration: none;
}

.fff{
	height: 300px;
	overflow-x: auto;
	overflow-y: auto;
}

.updatecenter{
	width :300px;
	height: auto;
	text-align: center;
}

.updategauche{
	margin-top: -140px;
}

.textUpdate{
	margin-top: 10px;
}

fieldset {
	border-color: #51C859;
	border-radius: 10px;
	padding: 10px;
}

.errorMessage{
	color:red;
	font-size: 14px;
}