@CHARSET "ISO-8859-1";
html{
	font-family: 'Open Sans', sans-serif !important;
}

body{
	background: url(../css/img/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
  	display: flex;
}

table, tr, td{
	  border-collapse: collapse;
	  padding: 5px 10px 5px 10px;
	  text-align: center;
}


table{
	background-color: #F2F2F2;
}
.tous{
	width:auto; height:auto; float: none; 
	margin: auto;
	margin-top: 200px;
	
	display: flex;
	align-items: center;
  	flex-direction: column;
  	border-radius: 10px;
  	
}

.article{
	background-color: white;
	padding: 20px;
	display: flex;
	align-items: center;
}

.articlee{
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: white;
}



div.dd{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 40px;
	background-color: #FE7F00;
	display: flex;
	align-items: center;
}

.validCommande{
	background-color: #FE7F00;
	padding:10px;
	border-radius: 10px;
	display: flex;
	font-size: 15px;
	margin-top:20px;
}

.validCommande .wwgrp{
	margin-bottom:10px;
	
}

.articles input[type="submit"],#createUneCommande_Chercher,#updateCommande_Chercher{
  background: #FEBA00;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  border:none;
}



.boutton{
	padding-left: 20px;
}

.text{
	color: white;
	background-color: #FE7F00;
	border: none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.text:hover{
	cursor:  pointer;
	background-color: #FEBA00;
}

.entete{
	background-color: #FE7F00;
	border: none;
	font-weight: bold;
}

.lefttab{
		border-top-left-radius: 10px;
}

.righttab{
		border-top-right-radius: 10px;
}

.panelgauche{
	margin-top: -220px;
}

.search{
	width: 200px;
	height: 30px;
	background-color: #FE7F00;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
}

.articles{
	width: auto;
	background-color: #FE7F00;
	padding:10px;
	border-radius: 10px;
	display: flex;
	font-size: 15px;
}

.articles .wwgrp{
	margin-bottom:10px;
}

.searchc{
	display: flex;
}

.ajoutArticle{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.searchField{
	margin-top: 6px;
	margin-left: 15px;
	width: 120px;
	background-color: #FEBA00;
	border: none;
}

.searchButon{
	border: none;
	margin-top: 6px;
	margin-left: 4px;
	width: 40px;
	background-image: url(../css/img/Search-32.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

.textAdd{
	display: flex;
	align-items: center;
	color: white;
	margin-left: 10px;
	text-decoration: none;
}

.fff{
	height: 300px;
	overflow-x: auto;
	overflow-y: auto;
}

h1{
	margin-bottom:50px;
	color: #FE7F00;
}

.updatecenter{
	width :auto;
	margin-top:-135px;
	height: 200px;
	text-align: center;
	overflow-x: auto;
	overflow-y: auto;
}

.updategauche{
	width :30%;
	margin-right:20px;
}

.textUpdate{
	margin-top: 10px;
}

fieldset {
	border-color: #FE7F00;
	border-radius: 10px;
	padding: 10px;
}

.createArticleChamp{
	width: 120px;
	margin-top: 10px;
}

.quantite{
	width: 100px;
	margin-top: 10px;
}

.bouttonArt{	
	margin-top: 10px;	
	margin-bottom:10px;
}