@CHARSET "ISO-8859-1";

body{
	background-image: url("../css/IMG_0385_800_clqdgNG150.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

div.titre {
    font-style: italic;
    font-weight: bold;
    color: rgb(91, 91, 162);
    font-size: 40px;
    text-align: center;
}

div.container {
	font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

div.connexion {
    width: auto;
    box-shadow: rgb(172, 172, 172) 0px 0px 7px 1px;
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    border-image: initial;
    border-radius: 5px;
}

.textfieldcon {
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    border-width: initial;
    border-style: groove;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}

.textfieldcon:hover{
	box-shadow: #65B6F3 0px 0px 7px 1px;
}