@CHARSET "ISO-8859-1";

body{
	background: url(../css/img/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
}

div.titre {
    font-style: italic;
    font-weight: bold;
    color: #AA86FE;
    font-size: 40px;
    text-align: center;
}

div.error{
	color: red;
	 font-size: 20px;
	 margin-top: 40px;
}

div.blockCo{
	width: 400px;
	height: 300px;
	background-color: white;
	margin: 0 auto;
	margin-top: 100px;
	border: red;
	border-radius: 7px;
	border-top: solid #AA86FE 6px;
	border-top-left-radius: 5x;
	border-top-right-radius: 5px;
}

div.blockCo, h1{
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

div.input{
	display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.divUser{
	font-weight: bold;
	background-image: url(../css/img/dd.png);
 	background-position: 7px center;
    background-repeat: no-repeat;
  	background-size: 25px;
  	padding-left: 40px;
  	width: 250px;
  	height: 30px;
  	border: solid #9E9E9E 1px;
  	border-radius: 5px;
  	margin-top: 5px;
}

.divPass{
	font-weight: bold;
	background-image: url(../css/img/ze.png);
 	background-position: 10px center;
    background-repeat: no-repeat;
  	background-size: 20px;
  	padding-left: 40px;
  	width: 250px;
  	height: 30px;
	margin-top: 10px;
	border: solid #9E9E9E 1px;
  	border-radius: 5px;
}

.divSub{
	color: white;
	font-weight: bold;
	font-size: 18px;
	background-color: #AA86FE;
	width: 290px;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

.divUser:hover{
	background-image: url(../css/img/dd2.png);
  	border: solid #AA86FE 1px;
}

.divUser:focus { 
	outline: none !important;
    background-image: url(../css/img/dd2.png);
    border: solid #AA86FE 1px;
}

.divPass:hover{
	background-image: url(../css/img/ze2.png);
  	border: solid #AA86FE 1px;
}

.divPass:focus { 
	outline: none !important;
    background-image: url(../css/img/ze2.png);
    border: solid #AA86FE 1px;
}

.divUser:-webkit-autofill {
     -webkit-background-color: red;
}

div.stat{
  display: flex;
  align-items: center;
  justify-content: center;
}
