@CHARSET "ISO-8859-1";

body{
	background: url(../css/img/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
}

div.titre {
    font-style: italic;
    font-weight: bold;
    color: rgb(91, 91, 162);
    font-size: 40px;
    text-align: center;
}

div.container {
	font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

div.connexion {
    width: auto;
    box-shadow: #A283FA 0px 0px 7px 1px;
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
    background-color: #A283FA;
    border-width: 1px;
    border-style: solid;
    border-color: #A283FA;
    border-image: initial;
    border-radius: 5px;
}

.textfieldcon {
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    border-width: initial;
    border-style: groove;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}

.textfieldcon:hover{
	box-shadow: #65B6F3 0px 0px 7px 1px;
}