@CHARSET "ISO-8859-1";

body{
	background: url(../css/img/fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
  	
}

h1{
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

.container{
	margin-top: 100px;
}

.divCli{
	display: flex;
    align-items: center;
    justify-content: center;
}

.divMid{
	display: flex;
    align-items: center;
    justify-content: center;
}

.divArt{
	margin-left: 200px;
}

.bouttonClient{
	background: url(../css/img/People-128.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonArticle{
	background: url(../css/img/Product-128.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonStats{
	background: url(../css/img/Diagram-128.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonCommande{
	background: url(../css/img/Shopping-Bag-128.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.logo{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-top: 40px;
	width:100px;
	height: 100px;
	background-image: url(../css/img/actif-solution.png);
	background-size: cover;

}

.bouttonClient:hover{
	background: url(../css/img/People-128-actif.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonArticle:hover{
	background: url(../css/img/Product-128-actif.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonStats:hover{
	background: url(../css/img/Diagram-128-actif.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.bouttonCommande:hover{
	background: url(../css/img/Shopping-Bag-128-actif.png);
	background-size: cover;
	border-radius:50%;
	border : none;
	width:150px;
	height:150px;
}

.deco{
	margin-top: 50px;
}

.btnDeco {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 4px solid #AA86FE;
}

.btnDeco:hover {
  background: #AA86FE;
  text-decoration: none;
}